<!DOCTYPE html>
<html lang="es">

<%- include("../partials/head") %>

<a href="http://localhost:3030/?userId=2&productId=10#idTEST">Ir a la sección</a>
<div class="reload">Reload</div>

  <body class="home-body">
    <div class="contain-dots" id="contain-dots">
      <div class="dot-spin"></div>
    </div>

    <%- include("../partials/header") %>

      <main class="home">
        <!-- BANNER -->
        <!--  <section class="banner">
    <img src="/images/img-banner.jpg" alt="">
  </section> -->

        <%- include("../partials/banner", { bannerImages }) %>

          <div class="mt-4">

            <div class="glider-contain">
              <div class="glider">

                <% products.forEach(p => { %>
                 
                  <!-- PRODUCTO 1 -->
                  <div>
                    <div class="card mx-2 h-100 d-flex flex-column justify-content-between">
                      <div class="slider-img-container">
                        <img src="/images/products/<%= p.imagePrincipal %>" class="card-img-top slider-img-product" alt="img1">
                      </div>
                      <div class="card-body">
                        <h5 class="card-title"><%= p.title %></h5>
                        <p class="card-text"><%= p.description %></p>
                      </div>
                      <div class="m-3">
                        <a href="/productos/detalle/<%= p.id %>" class="btn btn-danger btn-danger-custom align-self-start w-50">Ver más</a>
                      </div>
                    </div>
                  </div>

                <% }) %>

              </div>

              <button aria-label="Previous" class="glider-prev">
                <i class="fa-solid fa-chevron-left"></i>
              </button>
              <button aria-label="Next" class="glider-next">
                <i class="fa-solid fa-chevron-right"></i>
              </button>
              <div role="tablist" class="dots"></div>
            </div>





          </div>


          <div>
            <section id="idTEST">
              <h3>Titulo</h3>
              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod ratione mollitia molestias error id reiciendis ad repudiandae, autem architecto minima nemo eveniet sit fuga repellat. Omnis cum nemo repellat aperiam?
              Perferendis minima neque tempore tempora tenetur, dolorum ea quas aut accusamus aliquid reprehenderit voluptas alias. Incidunt amet facere exercitationem repellat et earum culpa a nihil voluptatibus totam, beatae dolores delectus.
              Adipisci esse ducimus omnis! Tenetur sunt ad recusandae ipsa aperiam doloremque ea aut dolore animi nihil corrupti impedit, nisi rem esse praesentium eveniet consequatur pariatur voluptas porro provident. Vel, dolor?
              Reiciendis et, veniam voluptatum placeat illum eius aliquid magni maxime iure at magnam nulla voluptatem fugit incidunt, fugiat tempora eum quis consequuntur impedit! Harum, asperiores deserunt? Blanditiis vitae neque beatae!
              Enim quaerat, repellat molestiae rem neque hic? Animi laboriosam beatae fugiat tempora porro dolorum fuga eius voluptas iste iure dolores ab omnis asperiores a, exercitationem illo voluptates quibusdam distinctio ex.
              Labore, repellendus inventore debitis laborum nostrum quasi quia perferendis quis ipsum, minus, voluptas enim incidunt quidem est nam rem similique. Consequatur, natus. Illum accusantium molestias ullam saepe inventore cupiditate quasi!
              Facere provident eos inventore, dolorem quod dolore consequatur laborum accusamus sint consequuntur sequi fugiat. Architecto error commodi ducimus quam, esse repellendus, illo dolorem sequi illum ullam modi nobis atque magni!
              Atque quos quisquam assumenda omnis soluta quia dolore nihil quam facilis neque accusamus dolores ipsa repudiandae velit fuga culpa non architecto, perspiciatis debitis deleniti corporis incidunt tempore. Omnis, sit quas.
              Vero provident eveniet maxime est error. Ad odio dolorem expedita odit itaque perspiciatis consequatur animi maxime. Obcaecati modi nihil adipisci facilis expedita dolorem, suscipit perferendis sapiente. Cupiditate explicabo harum modi.
              Quod dolor nam recusandae ab doloremque autem, maxime beatae cupiditate aliquid perferendis officia, nostrum fuga totam ullam inventore distinctio quia a eaque sapiente odio! Praesentium dolor vel nam labore adipisci?</p>
            </section>
          </div>

      </main>

      <%- include("../partials/footer") %>

        <%- include("../partials/scripts") %>


       <!--  <script>

          const data = prompt("Ingresa un dato")

          window.alert(data);
        </script> -->

        <script src="/js/functions/example.js"></script>
       
  </body>

</html>