<div class="card col-12 col-md-6 col-lg-3" style="width: 18rem;">
  <img src="<%= product.img %>" class="card-img-top" style="height: 120px;object-fit: contain;"
    alt="...">
  <div class="card-body">
    <h5 class="card-title"><%= product.name %></h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
      content.</p>
      <span>$<%= product.price %></span>
      <span><%= product.discount %>%OFF</span>
    <a href="/productos/detalle/<%= product.id %>" class="btn btn-primary">Ver más</a>
  </div>
</div>