<!DOCTYPE html>
<html lang="es">

<%- include("../partials/head") %>

  <body class="home-body">
    <div class="contain-dots" id="contain-dots">
      <div class="dot-spin"></div>
    </div>

    <%- include("../partials/header") %>

    <main class="home">
      <!-- BANNER -->
      <!--  <section class="banner">
    <img src="/images/img-banner.jpg" alt="">
  </section> -->

  <%- include("../partials/banner", { bannerImages }) %>

      <div class="mt-4">

        <div class="glider-contain">
          <div class="glider">
            <div>
              <!-- PRODUCTO 1 -->
              <div class="card mx-2">
                <img src="/images/products/abc.jpg" class="card-img-top" alt="img1"
                  style="height: 150px;object-fit: cover;">
                <div class="card-body">
                  <h5 class="card-title">Card 1</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                  <a href="/productos/detalle/1" class="btn btn-dark">Ver más</a>
                </div>
              </div>
            </div>
            <div>
              <!-- PRODUCTO 2 -->
              <div class="card mx-2">
                <img src="/images/products/abcPostres.jpg" class="card-img-top" alt="img1"
                  style="height: 150px;object-fit: cover;">
                <div class="card-body">
                  <h5 class="card-title">Card 2</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                  <a href="/productos/detalle/2" class="btn btn-dark">Ver más</a>
                </div>
              </div>
            </div>
            <div>
              <!-- PRODUCTO 3 -->
              <div class="card mx-2">
                <img src="/images/products/carnes.jpg" class="card-img-top" alt="img1"
                  style="height: 150px;object-fit: cover;">
                <div class="card-body">
                  <h5 class="card-title">Card 3</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                  <a href="/productos/detalle/3" class="btn btn-dark">Ver más</a>
                </div>
              </div>
            </div>
            <div>
              <!-- PRODUCTO 4 -->
              <div class="card mx-2">
                <img src="/images/products/chocolateria.jpg"
                  class="card-img-top" alt="img1" style="height: 150px;object-fit: cover;">
                <div class="card-body">
                  <h5 class="card-title">Card 4</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                  <a href="/productos/detalle/4" class="btn btn-dark">Ver más</a>
                </div>
              </div>
            </div>
            <div>
              <!-- PRODUCTO 5 -->
              <div class="card mx-2">
                <img src="/images/products/cocteleria.jpg"
                  class="card-img-top" alt="img1" style="height: 150px;object-fit: cover;">
                <div class="card-body">
                  <h5 class="card-title">Card 5</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                  <a href="/productos/detalle/5" class="btn btn-dark">Ver más</a>
                </div>
              </div>
            </div>
            <div>
              <!-- PRODUCTO 6 -->
              <div class="card mx-2">
                <img src="/images/products/española.jpg"
                  class="card-img-top" alt="img1" style="height: 150px;object-fit: cover;">
                <div class="card-body">
                  <h5 class="card-title">Card 6</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                  <a href="/productos/detalle/6" class="btn btn-dark">Ver más</a>
                </div>
              </div>
            </div>

          </div>

          <button aria-label="Previous" class="glider-prev">
            <i class="fa-solid fa-chevron-left"></i>
          </button>
          <button aria-label="Next" class="glider-next">
            <i class="fa-solid fa-chevron-right"></i>
          </button>
          <div role="tablist" class="dots"></div>
        </div>





      </div>



      
    </main>

    <%- include("../partials/footer") %>

    <%- include("../partials/scripts") %>
  </body>

</html>